.header {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .header__burgerMenu {
    display: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    
    &:hover {
      transform: scale(1.1);
    }
    
    @media (max-width: 1024px) {
      display: block;
      margin-right: 20px;
    }
  }
  
  .header__burgerMenu__image {
    width: 30px;
    height: 30px;
  }
  
  .header__logo {
    margin: 0 auto;
  }
  
  .header__logo__image {
    cursor: pointer;
    width: 150px;
    height: auto;
    transition: transform 0.3s ease;
    
    &:hover {
      transform: scale(1.05);
    }
  }